{% extends 'base.html'%}
{% load crispy_forms_tags%}
{%block content%}
<div class="row">
    <div class="login_form col-lg-8 mx-auto mt-4">
        <form action="" method="POST">
            {% csrf_token %}
            {{form | crispy }}
            <button type="submit" class="btn btn-success">Log In</button>
        </form>
        <div class="text-muted border-top mt-4">
            <small>Not a member yet? <a href="{% url 'register'%}">Register Now</a> </small>
        </div>
    </div>
</div>

{%endblock content%}