.profile_details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_avatar{
    height: 150px;
    width:150px;
    border-radius: 50%;
}

.navbar_avatar{
    width:30px;
    height:30px;
    border-radius: 50%;
}

/* .my_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .awwwards{
    margin-right: 300px;
} */