{% extends 'base.html'%}
{% block content%}
<div class="row">
    {% for object in object_list %}
    <div class="col-lg-4 col-md-6 my-3">
        <div class="card mx-auto" style="width: 20rem;">
            <a href="{% url 'site' object.id %}">
                <div class="site_display_image" style="background-image: url({{object.cover.url}});"></div>
            </a>
            <div class="card-body site_display_card_body">
                <div>
                    <a href="{% url 'site' object.id %}">
                        <span class="h6 text-center">{{object.title}}</span>
                    </a>
                </div>
                <div style="display:flex; justify-content: flex-end;">
                    <span>{{object.created_at | date:"F d, Y" }}</span>
                </div>
                <hr>
                <div style="display:flex; justify-content:space-between;">
                    <span>{{object.author}}</span>
                    {% for tag in object.tags.all %}
                    <span class="badge badge-light">{{tag}}</span>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock content%}