{% extends 'base.html'%}
{% block content %}
<div class="site_page">
    <div class="row">
        <div class="col-md-8 mx-auto my-3">
            {% if user == object.author %}
            <div class="my-3">
                <a href="{% url 'edit_site' object.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="" class="btn btn-danger btn-sm">Delete</a>
            </div>
            {% endif %}
            <div class="site_jumbo" style="background-image: url({{object.cover.url}});">
                <div class="h-100 w-100 jumbo_opacity">
                </div>
            </div>
            <div>
                <span><span class="h5">By: </span> {{object.author}}</span>
                <a class="mx-4" href="{{object.link}}">Live Link</a>
            </div>

            <div id="ratings" class="my-3">
                <div id="design">
                    <div class="c100 p{{design}}">
                        <span>{{design}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <h5 class="text-center">Design</h5>
                </div>
                <div id="usability" class="mx-3">
                    <div class="c100 p{{usability}} green">
                        <span>{{usability}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <h5 class="text-center">Usability</h5>
                </div>
                <div id="content" class="mx-3">
                    <div class="c100 p{{content}} orange">
                        <span>{{content}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <h5 class="text-center">Content</h5>
                </div>
            </div>
            <div>
                <p><span class="h5">Description : </span>{{object.description}}</p>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                Vote for Us
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Cast your Vote Here</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="rating_form" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="formControlRange">Usability</label>
                                    <span id='usability_value'></span>
                                    <input class="form-control-range" type="range" name="usability_range"
                                        id="usability_range" min="1" max="10" step="1">

                                </div>
                                <div class="form-group">
                                    <label for="formControlRange">Content</label>
                                    <span id='content_value'></span>
                                    <input class="form-control-range" type="range" name="content_range"
                                        id="content_range" min="1" max="10" step="1">

                                </div>
                                <div class="form-group">
                                    <label for="formControlRange">Design</label>
                                    <span id='design_value'></span>
                                    <input class="form-control-range" type="range" name="design_range" id="design_range"
                                        min="1" max="10" step="1">
                                </div>
                                <div class="form-group" style="display:none">
                                    <input type="number" name="site_id" id="site_id" value="{{object.id}}">
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">Vote</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}